
importFrom("grDevices",
           "dev.off")

importFrom("parallel",
           "clusterCall",
           "detectCores",
           "makePSOCKcluster",
           "mcmapply",
           "stopCluster")

importFrom("pdftools",
           "pdf_info")

importFrom("ssh",
           "scp_download",
           "ssh_connect",
           "ssh_disconnect")

importFrom("stevedore",
           "docker_client")
           
export("gdiff",
       "gdiffExamples",
       "gdiffPackage",

       "cairo_pdf_device",
       "pngDevice",
       "pdfDevice",
       "postscriptDevice",

       "currentSession",
       "dockerSession",
       "localSession",
       "remoteSession",

       "gdiffOutput",
       "gdiffPkgOutput")

S3method("gdiff", "function")
S3method("gdiff", "list")
S3method("gdiffExamples", "character")
S3method("gdiffExamples", "function")

S3method("generateOutput", "clustersession")
S3method("generateOutput", "currentsession")
S3method("generateOutput", "dockersession")
S3method("generateOutput", "localsession")
S3method("generateOutput", "remotesession")
S3method("generatePkgOutput", "clustersession")
S3method("generatePkgOutput", "currentsession")
S3method("generatePkgOutput", "dockersession")
S3method("generatePkgOutput", "localsession")
S3method("generatePkgOutput", "remotesession")

S3method("remoteSession", "character")
S3method("remoteSession", "cluster")

S3method("print", "gcomparison")
