
importFrom("grDevices",
           "dev.off")

importFrom("parallel",
           "clusterCall",
           "detectCores",
           "makePSOCKcluster",
           "mcmapply",
           "stopCluster")

importFrom("pdftools",
           "pdf_info")

importFrom("ssh",
           "scp_download",
           "ssh_connect",
           "ssh_disconnect")

importFrom("stevedore",
           "docker_client")
           
export("gdiff",
       "gdiffExamples",
       "gdiffPackage",

       "cairo_pdf_device",
       "pngDevice",
       "pdfDevice",
       "postscriptDevice",

       "currentSession",
       "dockerSession",
       "localSession",
       "remoteSession",

       "gdiffOutput")

S3method("gdiff", "function")
S3method("gdiff", "list")
S3method("gdiffExamples", "character")
S3method("gdiffExamples", "function")

S3method("generateOutput", "gdiffClusterSession")
S3method("generateOutput", "gdiffCurrentSession")
S3method("generateOutput", "gdiffDockerSession")
S3method("generateOutput", "gdiffLocalSession")
S3method("generateOutput", "gdiffRemoteSession")

S3method("remoteSession", "character")
S3method("remoteSession", "cluster")

S3method("print", "gdiffComparison")
